<!--
<div *ngFor="let character of mockCharacters">
  {{character.name}}
</div>
-->

@let characters = mockCharacters;

@if (characters.length > 0) {
  @for (character of mockCharacters; track character.name) {
    <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionEdit, actionDelete]">
      <nz-card-meta [nzTitle]="character.name" nzDescription="This is the description" />
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
    </ng-template>
    <ng-template #actionEdit>
      <nz-icon nzType="edit" />
    </ng-template>
    <ng-template #actionDelete>
      <nz-icon nzType="delete" />
    </ng-template>
  }
} @else {
  <nz-empty nzNotFoundContent="Empty character list!"></nz-empty>
}

<!--
<ng-template #exampleTpl let-nombre="name">
  Hi {{nombre}}!
</ng-template>
<ng-container *ngTemplateOutlet="exampleTpl; context: { name: 'Alice' }"></ng-container>
<ng-container *ngTemplateOutlet="exampleTpl; context: { name: 'Bob' }"></ng-container>
-->



