<!--
<div *ngFor="let character of mockCharacters">
  {{character.name}}
</div>
-->

<input #searchInput
       nz-input
       placeholder="Filter characters..."
       [value]="searchQuery()"
       (input)="searchQuery.set(searchInput.value.trim())"
       />

@let charactersValue = filteredCharacters();

<!-- (characterSelected)="selectCharacter = $event" -->
@if (charactersValue.length > 0) {
  @for (character of charactersValue; track character.name) {
    <app-character-card
      appSelectedCharacter
      [color]="ClassDetails[character.characterClass].color"
      [selected]="selectedCharacter?.id === character.id"
      [character]="character"
      (characterSelected)="selectedCharacter = $event"
    ></app-character-card>
  }
} @else {
  <nz-empty nzNotFoundContent="Empty character list!"></nz-empty>
}

<!--
<ng-template #exampleTpl let-nombre="name">
  Hi {{nombre}}!
</ng-template>
<ng-container *ngTemplateOutlet="exampleTpl; context: { name: 'Alice' }"></ng-container>
<ng-container *ngTemplateOutlet="exampleTpl; context: { name: 'Bob' }"></ng-container>
-->



