<!--
<div *ngFor="let character of mockCharacters">
  {{character.name}}
</div>
-->

@let charactersValue = characters();

<!-- (characterSelected)="selectCharacter = $event" -->
@if (charactersValue.length > 0) {
  @for (character of charactersValue; track character.name) {
    <app-character-card
      appSelectedCharacter
      [selected]="true"
      [character]="character"

    ></app-character-card>
  }
} @else {
  <nz-empty nzNotFoundContent="Empty character list!"></nz-empty>
}

<!--
<ng-template #exampleTpl let-nombre="name">
  Hi {{nombre}}!
</ng-template>
<ng-container *ngTemplateOutlet="exampleTpl; context: { name: 'Alice' }"></ng-container>
<ng-container *ngTemplateOutlet="exampleTpl; context: { name: 'Bob' }"></ng-container>
-->



